<!DOCTYPE html>
<html>
{% load static %}

<head>
  <meta charset="utf-8">
  <title>MINE POST</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'sg/style.css' %}">
  <link rel="stylesheet" type="text/css" href="../../static/sg/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="shortcut icon" href="../../../../favicon.ico">

  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="../../static/sg/script.js"></script>
</head>

<body>
  <!--헤더 (2중 구조)-->
  <!--top 헤더 - 로고, 로그인, 회원가입-->
  <nav class="navbar navbar-custom navbar-static-top" id="navbar_top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'sg:index' %}">
          <img id="logo_image" alt="Home" src="{% static 'sg/images/logo_image.png' %}">
        </a>
        <a class="navbar-brand" href="{% url 'sg:index' %}">
          <img id="logo_text" alt="Home" src="{% static 'sg/images/logo_text.png' %}">
        </a>
      </div>

      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary">검색</button>
          </form>
          {% if user.is_authenticated %}
          <!-- 로그인한 경우 -->
          <button type="button" class="btn btn-success navbar-btn"
            onclick="location.href='{% url 'sg:writing' %}'">글쓰기</button>
          <button type="button" class="btn btn-primary navbar-btn"
            onclick="location.href='{% url 'sg:logout' %}'">로그아웃</button>
          {% else %}
          <button type="button" class="btn btn-primary navbar-btn"
            onclick="location.href='{% url 'sg:login' %}'">로그인</button>
          {% endif %}
          <button type="button" class="btn btn-primary navbar-btn"
            onclick="location.href='{% url 'sg:signup' %}'">회원가입</button>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <!--mid 헤더 - 카테고리(드롭다운식)-->
  <nav class="navbar-custom navbar-static-top bot_line_nopad" id="navbar_mid">
    <div class="container">
      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="{% url 'sg:list' %}?cat=정치&page=1" class="mid_cat1" role="button">정치</a>
          </li>
          <li class="dropdown">
            <a href="{% url 'sg:list' %}?cat=사회&page=1" class=" mid_cat1" role="button">사회</a>
          </li>
          <li class="dropdown">
            <a href="{% url 'sg:list' %}?cat=IT/과학&page=1" class=" mid_cat1" role="button">IT/과학</a>
          </li>
          <li class="dropdown">
            <a href="{% url 'sg:list' %}?cat=문화/예술&page=1" class=" mid_cat1" role="button">문화/예술</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="{% url 'sg:writing' %}" class="mid_cat2">글쓰기 놀이터</a></li>
          <li><a href="#" class="mid_cat2">GPT-2 체험</a></li> -->
          <!-- <li><a href="{% url 'sg:writing' %}" class="mid_cat2">글쓰기 놀이터</a></li>
          <li><a href="#" class="mid_cat2">GPT-2 체험</a></li> -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!--몸통부 - 좌)메인뉴스 우)랭킹 -->
  <div class="container-non-responsive">
    <div class="row">
      <div class="col-xs-9 right_line">

        <div class="col-xs-2">
          <h1 class="cat_title bot_line">사회</h1>
        </div>

        <div class="col-xs-10 left_line">
          <h1 class="detail_title">{{ article.title }}</h1>

          <form action="" method="POST">
            {% csrf_token %}
            <div class="col-xs-2 bot_line">
              <input type="hidden" name="article_id" value="{{article.id}}">
              <input type="hidden" name="user_id" value="{{user.userid}}">
              <button class="btn btn-default" formaction="{% url 'sg:scrap' %}">스크랩</button>
            </div>
          </form>

          <div class="col-xs-10 bot_line_nopad">
            <ul>
              <li class="detail_subtitle">{{ article.pub_date }}</li>
              <li class="detail_subtitle">{{ article.writer }}</li>
            </ul>
          </div>

          <div class="col-xs-12">
            <br>
            <div class="ai_box">
              <h1 class="ai_title"><i class="fas fa-robot fa-lg"></i>&nbsp;&nbsp;요약 봇</h1>
              <p class="ai_summarize">인공지능이 3줄 요약한 기사입니다.</p>
              <ul class="">
                <li class="li_summarize">1분위 가구 소득은 2018년 1분기(-8.0%)부터 지난해 1분기(-2.5%)까지 연속 감소하다 지난해 2분기(0.04%)부터 증가세로
                  전환했다</li>
                <li class="li_summarize">1분위 가구의 근로소득은 51만3000원으로 1년 전보다 3.3% 감소했다</li>
                <li class="li_summarize">코로나19 여파로 고용 취약계층인 임시·일용직 중심으로 취업자 감소세가 확대되면서 근로소득이 쪼그라들었다</li>
              </ul>
            </div>

            <img class="detail_img" alt="Headline_img" src="{{ article.photo }}">
            <p class="detail_content bot_line">
              {{ article.text }}
            </p>
          </div>

          <div class="col-xs-12">
            <div id="disqus_thread"></div>
            <script>

              /**
              *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
              *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
              /*
              var disqus_config = function () {
              this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              };
              */
              (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://mine-post.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered
                by Disqus.</a></noscript>
          </div>

        </div>
      </div>

      <div class="col-xs-3">
        <h1 class="rank_title bot_line">투데이 랭킹</h1>
        <!-- <div class="row">
                  <ul class="nav navbar-nav">
                    <li class="rank_padding">정치</li>
                    <li class="rank_padding">사회</li>
                    <li class="rank_padding">IT/과학</li>
                    <li class="rank_padding">문화/예술</li>
                  </ul>
                </div> -->
        <ul class="nav">
          {% for article in headline %}
          <a href="{% url 'sg:detail' article.id %}">
            <li class="rank_text">{{ forloop.counter }}. {{ article.title }}</li>
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</body>

</html>