<!DOCTYPE html>
<html>
{% load static %}

<head>
  <meta charset="utf-8">
  <title>MINE POST</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'sg/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="shortcut icon" href="../../../../favicon.ico">

  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="../../static/sg/script.js"></script>
</head>

<body>
  <!--헤더 (2중 구조)-->
  <!--top 헤더 - 로고, 로그인, 회원가입-->
  <nav class="navbar navbar-custom navbar-static-top" id="navbar_top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'sg:index' %}">
          <img id="logo_image" alt="Home" src="{% static 'sg/images/logo_image.png' %}">
        </a>
        <a class="navbar-brand" href="{% url 'sg:index' %}">
          <img id="logo_text" alt="Home" src="{% static 'sg/images/logo_text.png' %}">
        </a>
      </div>

      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary">검색</button>
          </form>
          {% if user.is_authenticated %}
          <!-- 로그인한 경우 -->
          <button type="button" class="btn btn-success navbar-btn"
            onclick="location.href='{% url 'sg:writing' %}'">글쓰기</button>
          <button type="button" class="btn btn-primary navbar-btn"
            onclick="location.href='{% url 'sg:logout' %}'">로그아웃</button>
          {% else %}
          <button type="button" class="btn btn-primary navbar-btn"
            onclick="location.href='{% url 'sg:login' %}'">로그인</button>
          {% endif %}
          <button type="button" class="btn btn-primary navbar-btn"
            onclick="location.href='{% url 'sg:signup' %}'">회원가입</button>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <!--mid 헤더 - 카테고리(드롭다운식)-->
  <nav class="navbar-custom navbar-static-top bot_line_nopad" id="navbar_mid">
    <div class="container">
      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="{% url 'sg:list' %}?cat=정치" class="dropdown-toggle mid_cat1" data-toggle="dropdown" role="button"
              aria-expanded="false">정치</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">청와대</a></li>
              <li><a href="#">북한</a></li>
              <li><a href="#">국회/정당</a></li>
              <li><a href="#">행정</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="{% url 'sg:list' %}?cat=사회" class="dropdown-toggle mid_cat1" data-toggle="dropdown" role="button"
              aria-expanded="false">사회</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">사건사고</a></li>
              <li><a href="#">지역</a></li>
              <li><a href="#">노동</a></li>
              <li><a href="#">교육</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="{% url 'sg:list' %}?cat=IT/과학" class="dropdown-toggle mid_cat1" data-toggle="dropdown"
              role="button" aria-expanded="false">IT/과학</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">통신</a></li>
              <li><a href="#">모바일</a></li>
              <li><a href="#">보안/해킹</a></li>
              <li><a href="#">과학 일반</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="{% url 'sg:list' %}?cat=문화/예술" class="dropdown-toggle mid_cat1" data-toggle="dropdown"
              role="button" aria-expanded="false">문화/예술</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">여행/레저</a></li>
              <li><a href="#">패션/뷰티</a></li>
              <li><a href="#">날씨</a></li>
              <li><a href="#">음식/맛집</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="{% url 'sg:writing' %}" class="mid_cat2">글쓰기 놀이터</a></li>
            <li><a href="#" class="mid_cat2">GPT-2 체험</a></li> -->
          <!-- <li><a href="{% url 'sg:writing' %}" class="mid_cat2">글쓰기 놀이터</a></li>
            <li><a href="#" class="mid_cat2">GPT-2 체험</a></li> -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!--몸통부 - 좌)메인뉴스 우)랭킹 -->
  <div class="container-non-responsive">
    <div class="row">
      <div class="col-xs-9 right_line">

        <div class="col-xs-2">
          <h1 class="cat_title bot_line">문화/예술</h1>
        </div>

        <div class="col-xs-10 left_line">
          <h1 class="detail_title">{{ article.title }}</h1>

          <div class="col-xs-2 bot_line">
            <button class="btn btn-default">스크랩</button>
          </div>

          <div class="col-xs-10 bot_line_nopad">
            <ul>
              <li class="detail_subtitle">{{ article.pub_date }}</li>
              <li class="detail_subtitle">{{ article.writer }}</li>
            </ul>
          </div>

          <div class="col-xs-12">
            <h1 class="title_summarize">요약봇</h1>
            <ul class="">
              <li class="li_summarize">1분위 가구 소득은 2018년 1분기(-8.0%)부터 지난해 1분기(-2.5%)까지 연속 감소하다 지난해 2분기(0.04%)부터 증가세로 전환했다
              </li>
              <li class="li_summarize">1분위 가구의 근로소득은 51만3000원으로 1년 전보다 3.3% 감소했다</li>
              <li class="li_summarize">코로나19 여파로 고용 취약계층인 임시·일용직 중심으로 취업자 감소세가 확대되면서 근로소득이 쪼그라들었다</li>
            </ul>

            <img class="detail_img" alt="Headline_img" src="{{ article.photo }}">
            <p class="detail_content bot_line">
              {{ article.text }}
            </p>
          </div>

          <div class="col-xs-12">
            <div id="disqus_thread"></div>
            <script>

              /**
              *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
              *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
              /*
              var disqus_config = function () {
              this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              };
              */
              (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://mine-post.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered
                by Disqus.</a></noscript>
          </div>

        </div>
      </div>

      <div class="col-xs-3">
        <h1 class="rank_title bot_line">투데이 랭킹</h1>
        <div class="row">
          <ul class="nav navbar-nav">
            <li class="rank_padding">정치</li>
            <li class="rank_padding">사회</li>
            <li class="rank_padding">IT/과학</li>
            <li class="rank_padding">문화/예술</li>
          </ul>
        </div>
        <ul class="nav top_line">
          <br>
          <a href="#">
            <li class="rank_text">1. 민경욱이 흔든 투표용지 6장은 진짜"... 선관위</li>
          </a>
          <a href="#">
            <li class="rank_text">2. 선관위 "구리서 투표용지 유출…민경욱은 입수</li>
          </a>
          <a href="#">
            <li class="rank_text">3. 선관위, 경기 구리서 투표용지 유출 확인…대검에 수</li>
          </a>
          <a href="#">
            <li class="rank_text">4. 민경욱이 흔든 투표용지 6장은 진짜"... 선관위</li>
          </a>
          <a href="#">
            <li class="rank_text">5. 웜비어家의 집념… 김정은, 유태인 인맥 잘못 건드렸다</li>
          </a>
          <a href="#">
            <li class="rank_text">6. 선관위, 경기 구리서 투표용지 유출 확인…대검에 수</li>
          </a>
          <a href="#">
            <li class="rank_text">7. 문희상에 편지 쓴 할머니 "내 핏값인데, 정대협이 왜 막느냐"</li>
          </a>
          <a href="#">
            <li class="rank_text">8. 코로나 발병 위험</li>
          </a>
          <a href="#">
            <li class="rank_text">9. 선관위, 경기 구리서 투표용지 유출 확인…대검에 수</li>
          </a>
          <a href="#">
            <li class="rank_text">10. 민경욱이 흔든 투표용지 6장은 진짜"... 선관위</li>
          </a>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>