/* 메인페이지 */
.container-non-responsive {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
}

#navbar_top { 
  background-color: #0f4c81;
  margin-bottom: 0px;
  margin-left: -15px;
} 

.navbar_mid {
  background-color: #333;
}

.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: white;
    padding: 7px;
} 

a:link { color: #333; text-decoration: none;}
a:visited { color: #333; text-decoration: none;}
a:hover { color: #333; text-decoration: underline;}

ul li {
  list-style: none;
}

.ul_margin {
  padding-inline-start: 30px;
}

.mid_cat1 {
  font-size: 16px;
  font-weight: bold;
} 

.mid_cat2 {
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 0px 1px #333;
} 

#logo_text {
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 2px;
  width: 165px;
  height: 30px;
}

#logo_image {
  width: 33px;
  height: 33px;
}

.head_title {
  font-size: 24px;
  font-weight: bold;
  color: #0f4c81cc;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.sub_title {
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 12px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.main_title {
  font-size: 16px;
  padding-left: 10px;
  font-weight: bold;
  padding-bottom: 20px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.rank_title {
  font-size: 14px;
  font-weight: bold;
}

.rank_text {
  font-size: 14px;
  padding-bottom: 10px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  letter-spacing: -0.1em;
}

.rank_padding {
  padding-right: 18px;
  margin-left: 15px;
}

.thumbnail_img {
  padding-right: 0px;
  width: 240px;
  height: 150px;
}

.headline_img {
  width: 300px;
  height: 190px;
}

.bot_line {
  border-bottom: 1px solid  #00000020;
  padding-bottom: 10px;
}

.bot_line_nopad {
  border-bottom: 1px solid  #00000020;
}

.right_line {
  border-right: 1px solid  #00000020;
}

.top_line {
  border-top: 1px solid  #00000020;
  margin-top: 10px;
}

/* 2. 글쓰기페이지 */

.findimg_title {
  font-size: 16px;
  font-weight: bold;
} 

.findimg {
  width: 240px;
  height: 170px;
  padding-top: 15px;
  padding-right: 5px;
}

.btn_center {
  text-align: center;
}

/* 3. 카테고리 */

.cat_text {
  font-size: 14px;
  padding-left: 0px;
  padding-bottom: 10px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  letter-spacing: -0.1em;
}