<!DOCTYPE html>
<html>
{% load static %}

<head>
  <meta charset="utf-8">
  <title>MINE POST</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'sg/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="shortcut icon" href="../../../../favicon.ico">

  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="../../static/sg/script.js"></script>
</head>

<body>
  <!--헤더 (2중 구조)-->
  <!--top 헤더 - 로고, 로그인, 회원가입-->
  <nav class="navbar navbar-custom navbar-static-top" id="navbar_top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'sg:index' %}">
          <img id="logo_image" alt="Home" src="{% static 'sg/images/logo_image.png' %}">
        </a>
        <a class="navbar-brand" href="{% url 'sg:index' %}">
          <img id="logo_text" alt="Home" src="{% static 'sg/images/logo_text.png' %}">
        </a>
      </div>

      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary">검색</button>
          </form>
          {% if user.is_authenticated %}
          <!-- 로그인한 경우 -->
          <button type="button" class="btn btn-success navbar-btn"
            onclick="location.href='{% url 'sg:writing' %}'">글쓰기</button>
          <button type="button" class="btn btn-primary navbar-btn"
            onclick="location.href='{% url 'sg:logout' %}'">로그아웃</button>
          {% else %}
          <button type="button" class="btn btn-primary navbar-btn"
            onclick="location.href='{% url 'sg:login' %}'">로그인</button>
          {% endif %}
          <button type="button" class="btn btn-primary navbar-btn"
            onclick="location.href='{% url 'sg:signup' %}'">회원가입</button>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <!--mid 헤더 - 카테고리(드롭다운식)-->
  <nav class="navbar-custom navbar-static-top bot_line_nopad" id="navbar_mid">
    <div class="container">
      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="{% url 'sg:list' %}?cat=정치&page=1" class="mid_cat1" role="button">정치</a>
          </li>
          <li class="dropdown">
            <a href="{% url 'sg:list' %}?cat=사회&page=1" class=" mid_cat1" role="button">사회</a>
          </li>
          <li class="dropdown">
            <a href="{% url 'sg:list' %}?cat=IT/과학&page=1" class=" mid_cat1" role="button">IT/과학</a>
          </li>
          <li class="dropdown">
            <a href="{% url 'sg:list' %}?cat=문화/예술&page=1" class=" mid_cat1" role="button">문화/예술</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="{% url 'sg:writing' %}" class="mid_cat2">글쓰기 놀이터</a></li>
          <li><a href="#" class="mid_cat2">GPT-2 체험</a></li> -->
          <!-- <li><a href="{% url 'sg:writing' %}" class="mid_cat2">글쓰기 놀이터</a></li>
          <li><a href="#" class="mid_cat2">GPT-2 체험</a></li> -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container-non-responsive">
    <div class="row">
      <div class="col-xs-12">
      </div>
      <div class="col-xs-10">

        <br>

        <div class="ai_box">
          <h1 class="ai_title"><i class="fas fa-robot fa-lg"></i>&nbsp;&nbsp;글 스타일</h1>
          <p class="ai_summarize">학습된 멀티모델을 통해 다양한 글 스타일을 사용해보세요.</p>

          <br>

          <div class="form-group writing_model">
            <div class="ccheck">
              <input type="radio" id="check_test1" name="model">
              <label for="check_test1">
                <div class="chk_img mm_1">뉴스</div>
              </label>
            </div>

            <div class="ccheck">
              <input type="radio" id="check_test2" name="model">
              <label for="check_test2">
                <div class="chk_img mm_2">소설</div>
              </label>
            </div>

            <div class="ccheck">
              <input type="radio" id="check_test3" name="model">
              <label for="check_test3">
                <div class="chk_img mm_3">SNS</div>
              </label>
            </div>

            <div class="ccheck">
              <input type="radio" id="check_test4" name="model">
              <label for="check_test4">
                <div class="chk_img mm_4">버스커<br>버스커</div>
              </label>
            </div>

            <!-- <div class="ccheck">
                <input type="checkbox" id="check_test5">
                <label for="check_test5">
                  <div class="chk_img mm_5">체크</div>
                </label>
              </div> -->

          </div>
        </div>

        <br>

        <form action="" method="POST">
          <div class="form-group">
            <label class="writing_title" for="content">카테고리</label>

            <div class="form-group cat_radio">
              <div>
                {% for cat in category %}
                {% if cat == checked or forloop.counter == 1 %}
                <label class="radio-inline"> <input type="radio" name="category" value="{{ cat }}"
                    checked>{{ cat }}</label>
                {% else %}
                <label class="radio-inline"> <input type="radio" name="category" value="{{ cat }}">{{ cat }}</label>
                {% endif %}
                {% endfor %}
              </div>
            </div>

          </div>

          <input type="hidden" name="writer" value="{{user.userid}}">
          <div class="form-group">
            <label class="writing_title" for="title">제목</label>
            {% csrf_token %}
            <input type="text" class="form-control" name="title" id="title"
              onkeyup="recommendTitle(this.value, '{{ csrf_token }}')" placeholder="제목을 입력하세요" value="{{title}}">
          </div>

          <div class="ai_box">
            <h1 class="ai_title"><i class="fas fa-robot fa-lg"></i>&nbsp;&nbsp;실시간 단어 추천</h1>
            <p class="ai_summarize">다음 단어를 추천해드립니다.</p>
            <br>
            <input type="button" id="result1" class="btn btn-default" onclick="addTitle(this.value, '{{ csrf_token }}')"
              value="">
            <input type="button" id="result2" class="btn btn-default" onclick="addTitle(this.value, '{{ csrf_token }}')"
              value="">
            <input type="button" id="result3" class="btn btn-default" onclick="addTitle(this.value, '{{ csrf_token }}')"
              value="">
            <input type="button" id="result4" class="btn btn-default" onclick="addTitle(this.value, '{{ csrf_token }}')"
              value="">
            <input type="button" id="result5" class="btn btn-default" onclick="addTitle(this.value, '{{ csrf_token }}')"
              value="">
          </div>
          <br>
          <br>

          <div class="form-group">
            <label class="writing_title" for="content">첫 문장 작성하기</label>
            <textarea class="form-control" rows="3" name="content" id="content"
              placeholder="첫 문장을 작성해주세요. ">{{content}}</textarea>
          </div>

          <div class=" text-center">
            <input type="submit" class="btn btn-info" value="기사 완성하기" formaction="{% url 'sg:writing' %}?type=text">
          </div>
          <div class="form-group">
            <label class="writing_title" for="fin_content">완성된 글</label>
            <textarea class="form-control" rows="10" name="text" id="fin_content"
              placeholder="글이 자동으로 완성됩니다">{{text}}</textarea>
          </div>
          <br>

          <!-- 
          <div class="filebox">
            <label class="writing_title" for="File" onchange="setThumbnail(event);">이미지 첨부하기</label>
            <input type="file" id="File">
          </div> -->
          <script>
            function mark(img) {
              document.getElementById('photo').value = img.src;
              img.style.border = "1px solid red";
            }
          </script>
          <div class="ai_box">
            <h1 class="ai_title"><i class="fas fa-robot fa-lg"></i>&nbsp;&nbsp;이미지 추천</h1>
            <p class="ai_summarize">제목에 잘 어울리는 이미지를 추천해드립니다.</p>
            {% for link in links %}
            <img class="findimg" id="findimg{{ forloop.counter }}" onclick="mark(this)" src="{{ link }}" alt="사진">
            {% endfor %}
            <input type="hidden" name="links" value="{{links}}">
            <input type="hidden" name="photo" id="photo" value="">
            <div class="text-center">
              <input type="submit" class="btn btn-info navbar-btn" value="이미지 추천받기"
                formaction="{% url 'sg:writing' %}?type=image">
            </div>
            <br>
            <!-- <div class="filebox">
                <label class="writing_title" for="image" onchange="setThumbnail(event);">이미지 첨부하기</label>
                <input type="file" id="image" accept="image/*" onchange="setThumbnail(event);" />
                <div id="image_container"></div>
              </div> -->

          </div>

          <br>
          <br>
          <br>
          <div class="text-center">
            <input type="submit" class="btn btn-primary btn-lg" value="업로드" formaction="{% url 'sg:save' %}">
          </div>
        </form>

      </div>
    </div>

  </div>
  </div>
</body>

</html>